# Common Ignored Files
.DS_Store
.env
.vscode
.idea/
*.pem

# Go Ignore
bin/

# Node.js Ignore

# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage/

# next.js
.next/
out/

# production builds
build/

# misc logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts
